
{{#each locations as |location|}}

  <h3 data-id="{{location.id}}"> Name: {{location.name}}</h3>
  <div>
    Address:  {{location.address}}
    {{#if location.outdoors}}
      Outdoors
    {{else}}
      Gym
    {{/if}}
    Comments:  {{location.comments}}
    Maintainer:  {{location.maintainer.email}}
  </div>

{{else}}

<h3> No matches found</h3>

{{/each}}
