
{{#each routes as |route|}}

  <h4 class='route-name' data-id="{{route.id}}">{{route.name}}</h4>
  <small>Logged by:  {{route.user.email}}<br></small>
  <div>
    {{#if route.location}}
      {{route.location.name}}
      {{#if route.location.outdoors}}
      (Outdoors)
      {{else}}
      (Gym)
      {{/if}}<br>
    {{else}}
    (Location removed)<br>
    {{/if}}
    Rating:  {{route.rating}}<br>
    Color:  {{route.color}} <br>
    Type:  {{route.route_type}}<br>
    {{#if route.project}}
    This is a project!<br>
    {{/if}}
    {{#if route.sent}}
    Sent!<br>
    {{else if route.completed}}
    Completed with {{route.hangs}} hangs<br>
    {{else if route.attempted}}
      Attempted with {{route.hangs}} hangs<br>
    {{/if}}
    <strong>Comments:</strong>  {{route.comments}}
  </div>

{{else}}

<h2> No matches found</h2>

{{/each}}
